{% extends 'page.njk' %}

{% block body %}
  <article class="prose mx-auto p-8">
    <time class="text-gray-500 text-sm">{{ post.date | formatDate("MMM D, YYYY") }}</time>
    {{ content | safe }}
  </article>
{% endblock %}
